<h1>Data sharing</h1>
<p>In this component we will take a look at another benifits of using a "hot observable" to cache api calls.</p>
<p>Since we used a Behavor Subject we can leverage that to send data to other components.</p>

<div>
	<div class="col-md-6">
		<dataSharingInnerStatless
			title="Inner Component 1"
			[names]="names"
			(nameChanged$)="namesChanged($event)">
		</dataSharingInnerStatless>
	</div>
	<div class="col-md-6">
		<dataSharingInnerDiffStatless
			title="Inner Component 2"
			[namesToShow]="names">
		</dataSharingInnerDiffStatless>
	</div>
</div>

